# Virtual environment
.venv/
venv/
ENV/

# Recordings (can be large)
recordings/

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# OS
.DS_Store

# Zips / backups
*.zip

# Pip
*.egg-info/
*.egg
dist/
build/

# Testing
.pytest_cache/
.pytest
/.idea/
